img{
    max-width: 100%;
}
#top{
  background-image: url(/assets/images/top-bg2.JPG);
  min-width: 100%;
  background-position-x: center ;
  
}
.up-container{
    position: fixed;
    bottom: 25px;
    left: 25px;
    cursor:pointer;
    
}
.side-container{
  position: fixed;
  top: 25px;
  left: 25px;
  cursor:pointer;
  
}
.iconbutton{
    width:50px;
    height:50px;
    border-radius:100%;
    
    box-shadow:5px 5px 5px rgba(170, 170, 170, 0.616);

}
.button{
    width:60px;
    height:60px;
    background: lightblue;
}


.iconbutton{
display: flex;
align-items: center;
justify-content: center;


}
.experience{
    background-color: lightblue;
}
.experience-modal{
    
    padding: 80px 0;
}
.experience-modal img{
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 15px rgba(247, 247, 247, 0.5);
    cursor: pointer;
}

.about{
    background-color: lightblue;
  
   align-items: center;
}

.about-figure{
    padding: 80px 0;
}
.about-figure img{
    padding: 5px;
    box-shadow: 0 0 15px rgba(247, 247, 247, 0.5);
    cursor: pointer;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery-column {
    flex: 25%;
    max-width: 20%;
    padding: 0 4px;
  }
  
  .gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

.offcanvas a{
 color: black;
 border-radius: 10px;
 
}
.offcanvas li a:hover{
  color: lightblue;
}
.offcanvas li{
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  

}
.contact img{
  margin-right: 50px;
}
hr{
  color: black;
}



































  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
  }