img{
    max-width: 100%;
}
.fab-container{
    position: fixed;
    bottom: 25px;
    left: 25px;
    cursor:pointer;
    
}
.iconbutton{
    width:50px;
    height:50px;
    border-radius:100%;
    background: lightskyblue;
    box-shadow:5px 5px 5px rgba(170, 170, 170, 0.616);

}
.button{
    width:60px;
    height:60px;
    background: lightblue;
}


.iconbutton{
display: flex;
align-items: center;
justify-content: center;
color: aliceblue;

}
.experience{
    background-color: lightblue;
}
.experience-modal{
    
    padding: 80px 0;
}
.experience-modal img{
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 15px rgba(247, 247, 247, 0.5);
    cursor: pointer;
}

.about{
    background-color: lightblue;
}

.about-figure{
    box-sizing:content-box;

    padding: 80px 0;
}
.about-figure img{
    padding: 10px;
    width: 90%;
    box-shadow: 0 0 15px rgba(247, 247, 247, 0.5);
    cursor: pointer;
}